<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adamson.miles.climbingtrainer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo7"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo7"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuildNewProgramAboutYou"
            android:label="@string/title_activity_build_new_program_about_you"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuildNewProgramTypeSelect"
            android:label="@string/title_activity_build_new_program_type_select"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuildNewProgramEquipment"
            android:label="@string/title_activity_build_new_program_equipment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuildNewProgramStartDate"
            android:label="@string/title_activity_build_new_program_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuildNewProgramEndDate"
            android:label="@string/title_activity_build_new_program_end_date"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuildNewProgramReview"
            android:label="@string/title_activity_build_new_program_review"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutTheAuthor"
            android:label="@string/title_activity_about_the_author"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainingTips"
            android:label="@string/title_activity_training_tips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExerciseList"
            android:label="@string/title_activity_exercises"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadProgram"
            android:label="@string/title_activity_load_program"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewExercise"
            android:label="@string/title_activity_view_exercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewTip"
            android:label="@string/title_activity_view_tip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuildNewProgramRoot"
            android:label="@string/title_activity_build_new_program_root"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewProgramByDate"
            android:label="@string/title_activity_view_program_by_date"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewDatesExercises"
            android:label="@string/title_activity_view_dates_exercises"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimerCounter"
            android:label="@string/title_activity_timer_counter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewProgramByWeek"
            android:label="@string/title_activity_view_program_by_week"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddExercise"
            android:label="@string/title_activity_add_exercise"
            android:screenOrientation="portrait" />
    </application>

</manifest>